*{
    box-sizing: border-box;
}

h2{
    text-align: center;
    color: chocolate;
        font-family: "Audiowide", sans-serif;

}
body{
    background-color: beige;
}


#sec-one{
    float: left;
    width: 50%;
    display: flex;
}   
#sec-two{
    float:left;
    width: 100%;
    margin-top: 100px;
margin-right: 200px;
text-align: center;
}

img{
    display: inline-block;
    width: 40%;
    height: 300px;
    margin-left: 20px;
    border-radius: 50%;
    text-align: center;
    margin-left: 20%;

}
ul{
    width: 100%;
}

li{
    font-size: 30px;
    font-weight: bold;
    list-style: none;
    color:black;
    display: inline-block;

padding-bottom: 10px;
}
li:nth-child(odd) {

    background-color: #F0B0F2;
  }

  li:nth-child(even) {

    background-color: 
    #F9AAAA;
  }



button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 10px;

  }
  